body {
  font-family: "Tourney", cursive;
}

#board_wrapper {
  width: 30vw;
  height: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#board_overlay {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: black;
  opacity: 0.9;
  color: white;
  text-align: center;
  padding-top: 0.5%;
}

#menu_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}

.menu_section {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
  margin-bottom: 15%;
}

.menu_title {
  font-size: 1.75vw;
  margin-bottom: 5%;
}

.menu_option {
  font-size: 1.2vw;
  padding: 5%;
  background-color: grey;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3px;
  transition: background-color 0.8s;
}

.menu_option:hover {
  background-color: green;
  cursor: pointer;
}

.btn_selected {
  background-color: green;
  border: 1px solid white;
}

#start_btn_container {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 25%;
  text-align: center;
}

#start_btn {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  border-radius: 5%;
  font-size: 3.5vw;
  transition: background-color 0.8s;
}

#start_btn:hover {
  background-color: green;
  cursor: pointer;
}

#board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4%;
  grid-template-rows: 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4%;
  box-shadow: 0px 20px 100px grey;
}

.space {
  border: 0.1px solid rgb(129, 129, 129);
}

.snake_occupied_space_classic {
  background-color: rgb(44, 40, 40);
}

.snake_occupied_space_neon {
  background-color: rgb(0, 255, 13);
}

.snake_occupied_space_desert {
  background-color: rgb(251, 255, 0);
}

.food_occupied_space {
  background-color: rgb(1, 255, 179);
}

.classic_board_style {
  background-color: white;
}

.neon_board_style {
  background: linear-gradient(to bottom right, #0000ff 0%, #6600cc 59%);
}

.desert_board_style {
  background: linear-gradient(to bottom right, #ff9933 0%, #cc0000 68%);
}

#top_display_wrapper {
  width: 30vw;
  height: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(49, 49, 49);
}

#top_display {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  box-shadow: 0px 20px 100px grey;
  text-align: center;
  font-size: 1vw;
}

#top_display p {
  font-size: 2vw;
}

#current_score {
  color: white;
}

#high_score {
  color: white;
}

#controls_wrapper {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #board_wrapper {
    width: 90vw;
    height: 90vw;
  }

  #board_overlay {
    position: absolute;
    width: 90vw;
    height: 90vw;
  }

  #top_display_wrapper {
    width: 90vw;
    height: 30vw;
  }

  #top_display {
    font-size: 3.5vw;
  }

  #top_display p {
    font-size: 7vw;
  }

  #start_btn {
    font-size: 15vw;
  }

  #start_btn_container {
    margin-bottom: 15%;
  }

  .menu_title {
    font-size: 6vw;
    margin-bottom: 5%;
  }

  .menu_option {
    font-size: 3.5vw;
    padding: 5%;
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3px;
    transition: background-color 0.8s;
  }

  #controls_wrapper {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    float: left;
    background-color: none;
  }

  #controls_container {
    width: 90vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
  }

  #double_arrow {
    width: 60vw;
    height: auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    margin-left: 15vw;
  }
  .single_arrow {
    width: 100%;
    height: auto;
  }

  #up_arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #down_arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #center_arrow {
    background-color: white;
  }

  .arrow {
    height: 20vw;
    width: 20vw;
    background-color: purple;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  #board_wrapper {
    width: 60vw;
    height: 60vw;
  }

  #board_overlay {
    position: absolute;
    width: 60vw;
    height: 60vw;
  }

  #top_display_wrapper {
    width: 60vw;
    height: 15vw;
  }

  #top_display {
    font-size: 2vw;
  }

  #top_display p {
    font-size: 3vw;
  }

  #start_btn {
    font-size: 8vw;
  }

  #start_btn_container {
    margin-bottom: 15%;
  }

  .menu_title {
    font-size: 3.5vw;
    margin-bottom: 5%;
  }

  .menu_option {
    font-size: 2vw;
    padding: 5%;
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3px;
    transition: background-color 0.8s;
  }
}
