#board_wrapper {
  width: 30vw;
  height: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

#board_overlay {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: black;
  opacity: 0.9;
}

#start_btn {
  color: white;
  border: 1px solid white;
  border-radius: 5%;
  font-size: 3.5vw;
  width: 25%;
  height: auto;
  margin-left: 37.5%;
}

#start_btn:hover {
  background-color: green;
  cursor: pointer;
}

#board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  box-shadow: 0px 20px 100px grey;
}

.space {
  border: 0.1px solid rgb(129, 129, 129);
}

.snake_occupied_space {
  background-color: red;
}

.food_occupied_space {
  background-color: rgb(4, 106, 238);
}

#top_display_wrapper {
  width: 30vw;
  height: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(49, 49, 49);
}

#top_display {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  box-shadow: 0px 20px 100px grey;
  text-align: center;
}

#current_score {
  color: white;
}

#high_score {
  color: white;
}
