body {
  font-family: "Press Start 2P", cursive;
}

#board_wrapper {
  width: 30vw;
  height: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.classic_board_style {
  background-color: white;
}

.neon_board_style {
  background-color: rgb(138, 0, 236);
}

.desert_board_style {
  background-color: rgb(133, 0, 0);
}

#board_overlay {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: black;
  opacity: 0.9;
  color: white;
  text-align: center;
  padding-top: 0.5%;
}

#menu_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}

.menu_section {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
  margin-bottom: 15%;
}

.menu_title {
  font-size: 1.5vw;
  margin-bottom: 5%;
}

.menu_option {
  font-size: 1vw;
  padding: 5%;
  background-color: grey;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3px;
  transition: background-color 0.8s;
}

.menu_option:hover {
  background-color: green;
  cursor: pointer;
}

.btn_selected {
  background-color: green;
  border: 1px solid white;
}

#start_btn_container {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 25%;
  text-align: center;
}

#start_btn {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  border-radius: 5%;
  font-size: 2vw;
  transition: background-color 0.8s;
}

#start_btn:hover {
  background-color: green;
  cursor: pointer;
}

#board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  box-shadow: 0px 20px 100px grey;
}

.space {
  border: 0.1px solid rgb(129, 129, 129);
}

.snake_occupied_space_classic {
  background-color: rgb(44, 40, 40);
}

.snake_occupied_space_neon {
  background-color: rgb(0, 255, 13);
}

.snake_occupied_space_desert {
  background-color: rgb(251, 255, 0);
}

.food_occupied_space {
  background-color: rgb(4, 106, 238);
}

#top_display_wrapper {
  width: 30vw;
  height: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(49, 49, 49);
}

#top_display {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  box-shadow: 0px 20px 100px grey;
  text-align: center;
}

#current_score {
  color: white;
}

#high_score {
  color: white;
}
